
export GOOGLE_MAPS_JS_SAMPLES_KEY=AIzaSyDledkfRPKVQchOfwzE9pSMK5yypjRh3bs
export NUXT_ENV__APP_ID=AndrewsApp
export APP_ID=AndrewsApp
export MASTER_KEY=Asdfasdf1234
export S3_BUCKET=public
export APP_ID=AndrewsApp
export MASTER_KEY=Asdfasdf1234
export DATABASE_URI=mongodb+srv://ash:Asdfasdf1234@cluster0-ypimu.gcp.mongodb.net
export DASHBOARD_USERNAME=admin
export DASHBOARD_PASSWORD=asdfasdf
export PORT=1337
export S3_ACCESS_KEY=admin
export S3_SECRET_KEY=asdfasdf
export S3_BUCKET=public
export S3_ENDPOINT=https://s3.ashdevtools.com:9001
export REDIS_URL=redis://redis:6379
export PUBNUB_SUB=pub-c-fb4a3934-19aa-40cb-9fac-7d27c5f0ea4f
export PUBNUB_PUB=sub-c-3ee5140e-7e9c-11e8-a4a6-464114960942
export PUBNUB_SECRET=sec-c-ZDkwOTJmYzMtNTg4Ni00MzlhLTg5ODYtNDExY2RmNTVhZjQw
export HOST_URL=localhost
